.max-width-container {
    margin: 0 auto;
    max-width: 1200px;
}

@media only screen and (max-width: 1280px) {
    .max-width-container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 100%;
    }
}

.ssdc-chart-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}

.ssdc-chart-card {
    width: 250px;
    height: 100px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #e6e9ef;
    margin-right: 10px;
    &:hover {
        border: solid 1px #1890ff;
    }
}

.ssdc-chart-card-title{
    margin-left: 10px;
    font-size: 22px;
}
